<!DOCTYPE html>
<html>
<head>
    <title>Reading Challenge 2015</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <nav class="navbar navbar-default">
        <% if user_signed_in? %>
        <p class="navbar-text">
            Howdy! You're signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out.", destroy_user_session_path, :method => :delete%>
        </p>
        <%else%>
        <div class="login">
            <%= link_to "Sign up!", new_user_registration_path%> or <%=link_to "Sign in", new_user_session_path%>
        </div>

        <%end%>
    </nav>

    <% flash.each do |name,message|%>
    <%= content_tag :div, message, :id => "flash_#{name}" %>
    <%end%>

    <%= yield %>

</body>
</html>
